body {
    background-color:cadetblue;
    background-image: url(,)
}


.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    background-color:blue;
    height: 118px;
    text-align: center;
}

nav {
    background-color: red;
    height: 40px;   
}

main {
    background-color:orange;
    height: 400px;
    text-align: left;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: greenyellow;
    height: 100px; 
    width: 1024px; 
}
